<center>
	<h1>Please give some info to Register</h1>
	<form action='/users/new' method="post">
		Enter First Name: <input type="text" name="user[name]"><br><br>
		Enter Email: <input type="text" name="user[email]"><br><br>
		Enter Password: <input type="password" name="user[password]"><br><br>	
		<input type="submit" value="SUBMIT">
	</form>
</center>