
<form id="new-rating" action='/rating/new' method="post">
<h2> Destination </h2>
	Name of country: <input type="text" name="country"><br><br>
	Name of city: <input type="text" name="city"><br><br>
<h2> Please Rate 1 - 10 <br> </h2>
	Food: <input type="text" name="food"><br><br>
	Family Friendly: <input type="text" name="family_friendly"><br><br>
	Historical Interest: <input type="text" name="history"><br><br>
	Sites: <input type="text" name="sites"><br><br>
	Cost: <input type="text" name="cost"><br><br>
	Hospitality: <input type="text" name="hospitality"><br><br>
	Modernism: <input type="text" name="modernism"><br><br> 


	<input type="submit" value="SUBMIT">
</form>


