


<center>
  <h2>Find Ratings of Place</h2>
    <form id="find-country-form" action='/place' method='post'>
      Country <input id="country-name" type='text' name='country'><br><br>
      City <input id="city-name" type='text' name='city'><br><br>
      <input type="submit" value="SUBMIT">
    </form>

  <div align="center" id="append-area">

  </div>
</center>


